/* este arquivo ,faremos todas as REGAS CSS
nessarios para a formatação do site  */


body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: cornflowerblue;

    background-image: url(../imagens/watercolor.png);

}


h1 {
    color: #ffefef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(143, 142, 143);
    padding: 10px;
    border-radius: 9px;
    box-shadow: rgb(204, 202, 202) 0 0 15px inset;
    box-shadow: white 0 0 15px;
    border-width: 8px;
    border-color: rgb(49, 49, 47);
    border-style: solid;
    text-transform: uppercase;
    text-align: center;
    width: 90%;
    text-align: center;


}


h2 {
    font-size: 20px;
    border-bottom: solid 5px;
    border-left: dashed 5px;
    border-right: dashed 5px;
    padding-left: 10;
}


h3,
p,
figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {

    background: linear-gradient(to right,
            rgb(122, 122, 122),
            rgb(53, 53, 53));


}

#container {
    background-color: rgb(160, 160, 160);
    width: 70%;
    margin: auto;
    box-shadow: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.destaque {
    background-color: black;
    padding: 3px;
    color: white;
    border-radius: 4px;
}




figure {
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
}

li::marker {

    content: "❤";
}

nav {
    text-align: center;
}

/* regra estado incial */
nav a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(83, 83, 83);
    width: 42%;
    display: inline-block;
    padding: 10px;

    /* alterando o box model fazendo com que pading
e border não de BO nas dimensões finalis do elemento */
    box-sizing: border-box;
}

/* seletor pseudo-classe:first-child */
nav a:first-child {

    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* seletor pseudo-classe :last-child */

nav a:last-child {

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* regra para  o estado do ink acionado */
nav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(231, 224, 224);
}

figure img {
    filter: grayscale();
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 49%, 100% 20%, 80% 0%, 50% 30%);;
}

figure img:hover {
    filter: none;
    transition: 2s;
}

figure img:hover{ filter: none;
clip-path: polygon(20% 0%, 0% 20%, 0 52%, 0% 80%, 20% 100%, 47% 100%, 80% 100%, 100% 82%, 100% 50%, 100% 20%, 80% 0%, 48% 0);




}